name: CI

on:
  push:
  pull_request:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  build_and_test:
    env:
      BUILD_CONFIG: "Release"
      HEADLESS: "true"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0.x"

      - name: Setup Reqnroll
        run: dotnet new install Reqnroll.Templates.DotNet

      - name: Install Chrome for Selenium
        uses: browser-actions/setup-chrome@v1

      - name: Restore dependencies
        run: dotnet restore

      - name: Build Solution
        run: dotnet build --no-restore --configuration Release

      - name: Run Tests and Generate Coverage
        id: test
        continue-on-error: true
        run: |
          mkdir -p FidelityInsights/TestResults
          dotnet test --configuration Release --logger "trx;LogFileName=test-results.trx" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=FidelityInsights/TestResults/coverage.cobertura.xml

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: DotNET Tests
          path: "**/test-results.trx"
          reporter: dotnet-trx
          fail-on-error: false

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        if: always()
        with:
          filename: "coverage.cobertura.xml"
          fail_below_min: false
